.text-x-smaller {
  font-size: 10.2px; }

.text-x-larger {
  font-size: 40px; }

.text-larger {
  font-size: 32px; }

.text-medium {
  font-size: 24px; }

.text-semi {
  font-size: 16px; }

.green-text {
  color: #52bf85; }

.rounded-text {
  border-radius: 2rem; }

.lighten-green-bg {
  border-radius: .3rem;
  font-size: smaller;
  padding: .3rem;
  background-color: #52bf8533; }

.red-text {
  color: red; }

.lighten-red-bg {
  border-radius: .3rem;
  font-size: smaller;
  padding: .3rem;
  background-color: #ff000029;
  border-radius: 2rem; }

.golden-text {
  color: #BFA660; }

.gray-text {
  color: rgba(128, 128, 128, 0.973); }

.text-bold {
  font-weight: bold; }

.login__section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100vh; }
  .login__section--illustration {
    grid-column: span 3;
    background-image: url("../../images/Illustration@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .login__section--footer {
    line-height: 2.2rem;
    transform: translateX(-75px);
    margin-top: 2rem; }
    .login__section--footer a {
      color: #BFA660; }
  .login__section .greeting {
    text-align: left; }
    .login__section .greeting span {
      opacity: 0.7; }

.bordered-section {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dashed gray; }

.container {
  background-color: #fafafb;
  height: 100vh; }
  .container section {
    display: grid;
    grid-template-columns: 3fr 1fr; }
    .container section .section {
      padding: 1.2rem; }
      .container section .section__content--header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #1e1e1e;
        padding: 1rem; }
        .container section .section__content--header div {
          line-height: 1.2rem;
          font-weight: bold; }
      .container section .section__content--right {
        background-color: #ffff;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        height: calc(100vh - 5rem); }
        .container section .section__content--right .article {
          display: flex;
          align-items: center;
          padding: .6rem;
          line-height: 1.2rem; }
          .container section .section__content--right .article .icon {
            border-radius: 5rem;
            margin-right: .5rem;
            height: 2rem; }
            .container section .section__content--right .article .icon:nth-child(odd) {
              background-color: #d5c597; }
            .container section .section__content--right .article .icon:nth-child(even) {
              background-color: #444444; }
            .container section .section__content--right .article .icon ion-icon {
              font-size: 1.2rem; }
          .container section .section__content--right .article .rounded-img {
            border-radius: 2rem;
            width: 03rem;
            height: 03rem;
            margin-right: 1rem; }
      .container section .section__content--left {
        background-color: initial;
        overflow: scroll;
        height: 100vh; }
    .container section .no-aside {
      grid-column: span 4;
      height: 100vh;
      overflow: scroll;
      height: 100vh; }
      .container section .no-aside::-webkit-scrollbar {
        display: none; }
      .container section .no-aside .section__content--header {
        background-color: #ffff;
        padding: 1.6rem; }
        .container section .no-aside .section__content--header div {
          font-size: smaller;
          width: 20rem; }
      .container section .no-aside::-webkit-scrollbar {
        display: none; }
      .container section .no-aside .box__section--small {
        max-width: 80%; }

.box__section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto; }
  .box__section--small {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.2rem;
    gap: 1rem; }
    .box__section--small .box {
      background-color: #ffff;
      color: #1e1e1e;
      height: 7rem;
      border-radius: .9rem;
      font-size: smaller;
      padding: .5rem; }
      .box__section--small .box h4 {
        opacity: .6; }
    .box__section--small .box:nth-child(1) {
      background-color: #BFA660;
      color: #ffff; }
  .box__section--larger {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.2rem;
    gap: 2rem; }
    .box__section--larger .box {
      background-color: #ffff;
      border-radius: .9rem;
      height: auto; }
      .box__section--larger .box #chart1 {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        padding: 1.5rem; }
      .box__section--larger .box #chart2 {
        width: 100%;
        height: 100%;
        margin-top: 1rem; }
      .box__section--larger .box #chart3 {
        width: 100%;
        height: 100%;
        margin-top: 1rem; }
  .box__section--medium {
    background-color: #ffff;
    height: auto;
    width: 95%;
    margin: auto;
    border-radius: .9rem; }

.row-five-items {
  grid-template-columns: repeat(5, 1fr); }

.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  gap: 2rem; }

.grided__section {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  background-color: #ffff; }
  .grided__section--left {
    display: grid;
    grid-template-columns: 1fr;
    height: 10rem; }
    .grided__section--left--header {
      border-bottom: 3px #BFA660 solid;
      text-align: center;
      padding: 2rem;
      height: 05rem;
      color: #BFA660; }
    .grided__section--left .links {
      padding: .8rem;
      color: #1e1e1e;
      opacity: .6;
      line-height: 1.5rem;
      font-size: .9rem; }
      .grided__section--left .links div span {
        background-color: #BFA660;
        border-radius: 2rem;
        padding: .5rem;
        height: 3rem;
        text-align: center;
        width: 3rem;
        font-size: 1.3rem; }
      .grided__section--left .links p:nth-child(2) {
        font-size: .7rem; }
      .grided__section--left .links ion-icon {
        font-size: .9rem; }
      .grided__section--left .links.active {
        background-color: #1e1e1e;
        opacity: 1;
        color: white; }
  .grided__section--right {
    background-color: #fafafb;
    display: flex;
    flex-direction: column;
    position: relative; }
    .grided__section--right .section {
      border-radius: 16px;
      background-color: #ffff;
      line-height: 1.2rem; }
    .grided__section--right .content {
      text-align: center;
      line-height: 1.5rem;
      position: absolute;
      left: 25%;
      top: 25%; }
    .grided__section--right-box-section > div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem; }
      .grided__section--right-box-section > div div {
        padding: .4rem;
        height: 140px;
        border-radius: 16px;
        background-color: #ffff; }
    .grided__section--right .list--section {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem; }
    .grided__section--right .list {
      background-color: #ffff;
      padding: 1.5rem;
      border-radius: 16px; }
  .grided__section .profile-update {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 1rem;
    column-gap: 1rem; }
    .grided__section .profile-update span:nth-child(1) {
      background-color: #ffff;
      border-radius: 16px;
      height: 20rem;
      text-align: center; }
      .grided__section .profile-update span:nth-child(1) .btn {
        padding: 1.3rem;
        width: 16vw;
        font-family: "Sofia Pro"; }
    .grided__section .profile-update > div {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem; }
      .grided__section .profile-update > div div {
        background-color: #ffff;
        border-radius: 16px;
        line-height: 1.2rem; }
      .grided__section .profile-update > div .component {
        padding: 1.5rem;
        display: flex; }
