@import"../abstract/variables";
@import"../abstract/mixins";
@import"../base/typography";
.login__section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;

    &--illustration {
        grid-column: span 3;
        background-image: url("../../../assets/Illustration@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--footer
    {
       line-height: 2.2rem;
        transform: translateX(-75px);
        margin-top: 2rem;
        a{
            color: $primary-color
        }
    }
}
.container {
    background-color: $tertiary-color;
    grid-column: span 4;
    height: 100vh;
    section {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        
        .section {
                padding: 1.2rem;
            &__content--header {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $secondary-color;
                padding: 1rem;
                div
                {
                    line-height: 2rem;
                    font-weight: bold;
                }
            }
            &__content--right {
                background-color: $main-color;
                padding: 1rem;
                display: grid;
                grid-template-columns: 1fr;
                height: calc(100vh - 5rem);
                .article
                {
                        display: flex;
                        align-items: center;
                        padding: .6rem;
                        font-size: map-get($font-size, tiny);
                        line-height: 1.2rem;
            
                    .icon
                    {
                        border-radius: 5rem;
                        margin-right: .5rem;
                        height: 2rem;
                    &:nth-child(odd)
                    {
                        background-color:lighten($primary-color, 15%);
                    }
                    &:nth-child(even)
                    {
                        background-color:lighten($secondary-color, 15%);
                    }
                        ion-icon
                        {
                            font-size:1.2rem;
                        
                        }
                    }
                    .rounded-img
                    {
                        border-radius: 2rem;
                        width: 03rem;
                        height: 03rem;
                        margin-right: 1rem ;
                    }
                }
            }
            &__content--left {
                background-color: initial;
                grid-column: span 3;
                overflow: scroll;
                height: 100vh;
               
                &::-webkit-scrollbar
                {
                    display: none;
                }
            }
           

        }
        .no-aside
        {
            grid-column: span 4;
            height: 100vh;
            overflow: scroll;
            height: 100vh;
            &::-webkit-scrollbar
                {
                    display: none;
                }
            .section__content--header
            {
                background-color:$main-color;
                padding: 1.6rem;
                div
                {
                   
                    font-size: smaller;
                    width: 20rem;
                }
            }
                &::-webkit-scrollbar
                {
                    display: none;
                }



            .box__section--small{
                max-width: 80%;
            }
        }
    }
}
.box__section
{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    &--small
    {
        display: grid;
        grid-template-columns:repeat(4,1fr) ;
        padding: 1.2rem;
        gap:1rem;
        .box
        {
            @include set-background($main-color);
            height: 7rem;
            border-radius: .9rem;
            font-size: smaller;
            padding: .5rem;
            h1
            {
                font-size: map-get($font-size, semi);
            }
            h4{
                opacity: .6;
            }
        }
        .box:nth-child(1)
        {
            @include set-background($primary-color);
        }
    }
    &--larger
    {
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        padding: 1.2rem;
        gap:2rem;
        .box
        {
            background-color:$main-color ;
            border-radius: .9rem;
            height: 20rem;
            
        }
    }
    &--medium
    {

        background-color:$main-color;
        height: 25rem;
        width: 95%;
        margin: auto;
        border-radius: .9rem;
    }
}
.row-five-items
{
    grid-template-columns:repeat(5,1fr) ;
}
.card-section
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem;
    gap: 2rem;
}