@import"../abstract/variables";
@import"../abstract/mixins";
@import"../base/typography";

.login__section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
    &--illustration {
        grid-column: span 3;
        background-image: url("../../images/Illustration@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--footer
    {
       line-height: 2.2rem;
        transform: translateX(-75px);
        margin-top: 2rem;
        a{
            color: $primary-color
        }
    }
    .greeting {
		text-align: left;
		
		span {
			opacity: 0.7;
		}
	}
}
.bordered-section
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed gray;
}
.container {
    background-color: $tertiary-color;
    height: 100vh;
    section {
        display: grid;
        grid-template-columns: 3fr 1fr;
        
        .section {
                padding: 1.2rem;
            &__content--header {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $secondary-color;
                padding: 1rem;
                div
                {
                    line-height: 1.2rem;
                    font-weight: bold;
                }
            }
            &__content--right {
                background-color: $main-color;
                padding: 1rem;
                display: grid;
                grid-template-columns: 1fr;
                height: calc(100vh - 5rem);
                .article
                {
                        display: flex;
                        align-items: center;
                        padding: .6rem;
                        line-height: 1.2rem;
            
                    .icon
                    {
                        border-radius: 5rem;
                        margin-right: .5rem;
                        height: 2rem;
                    &:nth-child(odd)
                    {
                        background-color:lighten($primary-color, 15%);
                    }
                    &:nth-child(even)
                    {
                        background-color:lighten($secondary-color, 15%);
                    }
                        ion-icon
                        {
                            font-size:1.2rem;
                        
                        }
                    }
                    .rounded-img
                    {
                        border-radius: 2rem;
                        width: 03rem;
                        height: 03rem;
                        margin-right: 1rem ;
                    }
                }
            }
            &__content--left {
                background-color: initial;
                overflow: scroll;
                height: 100vh;
               
                &::-webkit-scrollbar
                {
                
                }
            }
           

        }
        .no-aside
        {
            grid-column: span 4;
            height: 100vh;
            overflow: scroll;
            height: 100vh;
            &::-webkit-scrollbar
                {
                    display: none;
                }
            .section__content--header
            {
                background-color:$main-color;
                padding: 1.6rem;
                div
                {
                   
                    font-size: smaller;
                    width: 20rem;
                }
            }
                &::-webkit-scrollbar
                {
                    display: none;
                }



            .box__section--small{
                max-width: 80%;
            }
        }
    }
}
.box__section
{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    &--small
    {
        display: grid;
        grid-template-columns:repeat(4,1fr) ;
        padding: 1.2rem;
        gap:1rem;
        .box
        {
            @include set-background($main-color);
            height: 7rem;
            border-radius: .9rem;
            font-size: smaller;
            padding: .5rem;
            h4{
                opacity: .6;
            }
        }
        .box:nth-child(1)
        {
            @include set-background($primary-color);
        }
    }
    &--larger
    {
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        padding: 1.2rem;
        gap:2rem;
        .box
        {
            background-color:$main-color ;
            border-radius: .9rem;
            height: auto;
            #chart1
            {
                width: 100%;
                height: 100%;
                margin-top: 1rem;
                padding: 1.5rem;
    
            }
            #chart2
            {
                width: 100%;
                height: 100%;
                margin-top: 1rem;
            }
            #chart3
            {
                width: 100%;
                height: 100%;
                margin-top: 1rem;
            }
        }
    }
    &--medium
    {

        background-color:$main-color;
        height: auto;
        width: 95%;
        margin: auto;
        border-radius: .9rem;
    }
}
.row-five-items
{
    grid-template-columns:repeat(5,1fr) ;
}
.card-section
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem;
    gap: 2rem;
}
.grided__section
{
    height: 100vh; 
    display: grid ;
    grid-template-columns: 1.5fr 4fr;
    background-color:$main-color;
    &--left{
        display: grid;
        grid-template-columns: 1fr;
        height: 10rem;
        &--header
        {
            border-bottom: 3px $primary-color solid;
            text-align: center;
            padding: 2rem;
            height: 05rem;
            color: $primary-color;
        }
        .links
        {
           
            padding: .8rem;
            color: $secondary-color;
            opacity: .6;
            line-height: 1.5rem;
            font-size: .9rem;

            div
            {
                
                span{
                    background-color:$primary-color;
                    border-radius: 2rem;
                    padding: .5rem;
                    height: 3rem;
                    text-align: center;
                    width: 3rem;
                    font-size: 1.3rem;
                }
            }
            p:nth-child(2)
            {
                font-size: .7rem;
    
            }
            ion-icon
           
            {
                font-size: .9rem;
            }
            &.active
            {
                background-color: $secondary-color;
                opacity: 1;
                color: white;
            }
        }
    }
    &--right
    {
        background-color:  $tertiary-color;
        display: flex;
        flex-direction: column;
        position: relative;
        .section
        {
            border-radius: 16px;
            background-color: $main-color;
            line-height: 1.2rem;
        }
        .content
        {
            text-align: center;
            line-height: 1.5rem;
            position: absolute;
            left: 25%;
            top: 25%;
        }
        &-box-section
        {
            >div
            {
                display: grid;
                grid-template-columns: repeat(4,1fr);

                gap: 1rem;
                div
                {
                    padding: .4rem;
                    height:140px;
                    // width: 194px;
                    border-radius: 16px;
                    background-color: $main-color;
                }
            }
        }

        .list--section
        {
           display: grid;
           grid-template-columns: 1fr;
           gap: 2rem;
        }
        .list{
            background-color: $main-color;
            padding: 1.5rem;
            border-radius: 16px;
        }
    }
    .profile-update
    {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 1rem;
        column-gap: 1rem;
        span:nth-child(1){
            background-color:$main-color;
            border-radius: 16px;
            height: 20rem;
            text-align: center;
            .btn
            {
                padding: 1.3rem;
                width: 16vw;
                font-family: $font-stack;
            }
        }
        >div
        {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            div
            {
                background-color: $main-color;
                border-radius: 16px;
                line-height: 1.2rem;
            }
            .component
            {
                padding: 1.5rem;
                display: flex;
                .gray-text
                {
    
                }
            }
        }

    }

}
 