@import "../abstract/_variables.scss";
.table
{
    &__header
    {
        background-color: $secondary-color;
        color: $main-color;
        padding: 1rem;
    }
    &__content
    {
        &--row:nth-child(even)
        {
            background-color: #F1F2F3;
        }
    }
}
.total-section
{
    width: 45%;
}

.details
{
    width: 41%;
    justify-content: space-between;
}
.invoice
{
    position: relative;
    &__footer
    {
        position: absolute;
        bottom: 1rem;
        width: 95vw;
    }
}
