@import"../abstract/classes";
@import"../base/typography";
.text-input
{
   
    border:  solid rgba(128, 128, 128, 0.294)
     .1rem;
     width: 396px;
     padding: .9rem;
     @extend .rounded-border;
     font-family: $font-stack;
}
.text-input-unborded
{
    border: none;
}
// text-input size
.text-input-larger
{
    width: 24rem;
    font-size: .98rem;
}
.text-input-medium
{
    width: 10rem;
    font-size: map-get($font-size,regular);
}

.label
{
    font-size: map-get($font-size, tiny );
    display: block;
    margin-left: .3rem;
    position: relative;
    &::after{
        content:"*";
        color: red;
        top: 0;
        right: 0;

    }
}


// label & input
.input-component
{
    line-height: 1.5rem;
    padding:.9rem;
}