.rounded-border, .text-input {
  border-radius: 16px; }

.bordered-section {
  border: 1px solid rgba(128, 128, 128, 0.294); }

.text-larger {
  font-size: 2.5rem;
  padding: 1rem; }

.text-medium {
  font-size: 1.5rem; }

.text-semi {
  font-size: 1.2rem; }

.green-text {
  color: green; }

.red-text {
  color: red; }

.golden-text {
  color: #BFA660; }

.gray-text {
  color: rgba(128, 128, 128, 0.294); }

.text-input {
  border: solid rgba(128, 128, 128, 0.294) 0.1rem;
  width: 130px;
  padding: .5rem;
  background-color: transparent;
  font-family: "Poppins", sans-serif; }

.text-input-unborded {
  border: none; }

.text-input-larger {
  width: 24rem;
  font-size: .98rem;
  padding: .9rem; }

.text-input-medium {
  width: 10rem;
  font-size: 1.2rem; }

textarea {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  border: none;
  height: 550px; }

textarea:focus {
  outline: none; }

.label {
  font-size: 0.8rem;
  display: block;
  margin-left: .3rem;
  padding: .5rem;
  position: relative; }
  .label::after {
    content: "*";
    color: red;
    top: 0;
    right: 0; }

.input-component {
  line-height: 1.5rem;
  padding: .9rem; }

.col-component {
  display: flex;
  flex-direction: column; }

.row-component {
  display: flex;
  align-items: center; }
