.bg-light-primary {
  background-color: #f2eddf;
}
.bg-light-green {
  background-color: #52bf8533;
}
.bg-light-red {
  border-radius: 0.3rem;
  font-size: smaller;
  padding: 0.3rem;
  background-color: #ff000029;
  border-radius: 2rem;
}
.bg-light-orange {
  background-color: #fff3ea;
}
.bg-primary {
  background-color: #bfa660;
}
.orange-text {
  color: orange;
}
.bg-light-white {
  background-color: rgba(255, 255, 255, 0.4);
}
.bg-white {
  background-color: #fff;
}
.bg-light-gray {
  background-color: lightgray;
}
.bg-white-smoke {
  background-color: #f5f6fc;
}
.bg-transparent {
  background-color: transparent;
}

.text-primary {
  color: $primary-color !important;
}
.text-green {
  color: #19aa5c;
}
.text-red {
  color: red;
}
.text-primary {
  color: $primary-color;
}
.gray-text {
  color: rgba(128, 128, 128, 0.973);
}
.text-dark {
  color: #000 !important;
}
.text-white {
  color: #fff;
}

.rounded-text {
  border-radius: 7px;
}
.rounded-box {
  border-radius: 1rem;
}
.bg-secondary-color {
  background-color: $secondary-color;
  color: white;
}
.bg-gray-color {
  background-color: $gray-color;
}
.circle-radius {
  border-radius: 50%;
}
.bordered-bottom {
  background-color: transparent;
  color: $secondary-color;
  border-bottom: rgb(235, 235, 235) 0.5px solid;
}
.bordered-left {
  background-color: transparent;
  color: $secondary-color;
  border-left: rgb(235, 235, 235) 0.5px solid;
}
.fully-bordered {
  background-color: transparent;
  color: $secondary-color;
  border: rgb(235, 235, 235) 0.5px solid;
}
.active-primary {
  border-right: 1px solid $primary-color;
}
small {
  font-size: 12px;
}
.font-weight-normal {
  font-weight: 500 !important;
}
